<%- include("components/_head") %>


	<div class="container-scroller">
		<!-- nav -->
		<%- include("components/_header") %>

			<div class="container-fluid page-body-wrapper">

				<!-- sidebar -->
				<%- include("components/_sidebar") %>

					<!-- partial main-->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">Add New Product</h4>
										</div>
										<div>
											<a href="/admin/products" class="btn btn-primary btn-icon-text btn-rounded">
												<i class="ti-arrow-left btn-icon-prepend"></i>Back
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- row -->
							<!-- <form class="row forms-sample" action="/admin/addProduct" method="POST" -->
							<!-- enctype="multipart/form-data"> -->
							<div class="col-md-6 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Naming</h4>
										<p class="card-description">
											Give your product a nameing
										</p>
										<!--  -->
										<div class="form-group">
											<label for="">Product Name</label>
											<input type="text" name="name" class="form-control"
												placeholder="Product Name" required>
										</div>
										<div class="form-group">
											<label for="">Category</label>
											<input type="text" id="formCategoryName" class="form-control"
												placeholder="Category" value="" readonly>
											<!-- This input takes the value for the product category -->
											<input name="category" id="formCategoryId" hidden>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Pricing</h4>
										<p class="card-description">
											Set a value and quantity for your product
										</p>
										<!--  -->
										<div class="form-group">
											<label for="">Price</label>
											<input type="text" name="price" class="form-control" placeholder="Price"
												required>
										</div>
										<div class="form-group">
											<label for="">Total Avalable Products</label>
											<input type="number" name="totalNo" class="form-control"
												placeholder="Total Product" required>
										</div>
										<!--  -->
									</div>
								</div>
							</div>
							<div class="col-md-6 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Description</h4>
										<p class="card-description">
											Describe your product here
										</p>
										<!--  -->

										<div class="form-group">
											<label for="exampleTextarea1">Description</label>
											<textarea name="description" class="form-control" id="exampleTextarea1"
												rows="7"></textarea>
										</div>
										<!--  -->
										<button type="submit" class="btn btn-primary mr-2">Submit</button>
										<a href="/admin/products" class="btn btn-light">Cancel</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Uploads</h4>
										<div class="form-group">
											<label>Choose one or more images for your product</label>
											<div class="input-group col-xs-12">
												<input class="form-control" multiple="multiple" accept="image/*"
													name="img" type="file" placeholder="Product image" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- </form> -->

						</div>
						<!-- content-wrapper ends -->
						<%- include("components/_footer") %>
							<%- include("utils/messageBird") %>
					</div>
					<!-- main-panel ends -->
			</div>

			<!-- page-body-wrapper ends -->
	</div>

	<%- include("components/_scripts") %>
	<script src="/admin/js/addProduct.js"></script>
		<!-- <script src="/admin/js/category.js"></script> -->