<%- include("components/_head") %>
	<!-- to send product category to script -->
	<input type="hidden" id="productCategory" value="<%= product.categories %>">

	<div class="container-scroller">
		<!-- nav -->
		<%- include("components/_header") %>
		<%- include("utils/modal") %>

			<div class="container-fluid page-body-wrapper">

				<!-- sidebar -->
				<%- include("components/_sidebar") %>

					<!-- partial main-->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0"><img class="rounded-circle"
													src="/<%= product.img.length ? product.img[0].path : " ../aronoz/img/favicon.png" %>"
												alt="<%= product.img.length && product.img[0].fileName %>" width="50vw"
													height="50vw">
													Edit Product: <%= product.name %>

											</h4>

										</div>
										<div>
											<a href="/admin/products" class="btn btn-primary btn-icon-text btn-rounded">
												<i class="ti-arrow-left btn-icon-prepend"></i>Back
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- row -->
							<form class="row forms-sample" action="/admin/edit/<%= product._id %>" method="POST"
								enctype="multipart/form-data">
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Naming</h4>
											<p class="card-description">
												Give your product a nameing
											</p>
											<!--  -->
											<div class="form-group">
												<label for="">Product Name</label>
												<input type="text" name="name" class="form-control"
													placeholder="Product Name" value="<%= product.name %>" required>
											</div>
											<div class="form-group">
												<label for="">Brand Name</label>
												<input type="text" name="brand" class="form-control"
													placeholder="Brand Name" value="<%= product.brand %>" required>
											</div>
											<!--  -->
										</div>
									</div>
								</div>
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Pricing</h4>
											<p class="card-description">
												Set a value and quantity for your product
											</p>
											<!--  -->
											<div class="form-group">
												<label for="">Price</label>
												<input type="text" name="price" class="form-control" placeholder="Price"
													value="<%= product.price %>" required>
											</div>
											<div class="form-group">
												<label for="">Total Avalable Products</label>
												<input type="number" name="totalNo" class="form-control"
													placeholder="Total Product" value="<%= product.totalNo %>" required>
											</div>

											<!--  -->
										</div>
									</div>
								</div>
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Description</h4>
											<p class="card-description">
												Describe your product here
											</p>
											<div class="form-group">
												<label for="">Color</label>
												<input type="text" name="color" class="form-control"
													placeholder="Product Color" value="<%= product.color %>" required>
											</div>

											<div class="form-group">
												<label>Choose one or more images for your product</label>
												<div class="input-group col-xs-12">
													<input class="form-control" multiple="multiple" accept="image/*"
														name="img" type="file" placeholder="Product image">
												</div>
											</div>
											<div class="form-group">
												<label for="exampleTextarea1">Description</label>
												<textarea name="description" class="form-control" id="exampleTextarea1"
													rows="7"><%= product.description %></textarea>
											</div>
											<!--  -->
											<div class="d-flex justify-content-between">
												<button type="submit" class="btn btn-primary mr-2">Update</button>
												<button type="button" class="btn btn-light"
												onclick="btnLink('/category/<%= product._id %>?preview=true', '<%= product._id %>' + 2)"><i class="ti-eye"></i>	View
												Product</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Category</h4>
											<p class="card-description">
												Categorise your product as a parent or as a child
											</p>
											<!--  -->
											<div class="form-group">
												<label for="">Category</label>
												<input type="text" id="formCategoryName" class="form-control"
													placeholder="Category"
													onclick="modal({type: 'info', message: 'Use the <strong>Category</strong> list below to select the categories a product belong.', title: 'Select a Product Category'})"
													readonly>
												<!-- This input takes the value for the product category -->
												<input name="category" id="formCategoryId"
													value="<%= product.categories %>" hidden>
											</div>
											<!--  -->
											<div class="form-group">
												<label for="exampleFormControlSelect2">Assign your product a
													category</label>
												<!-- this id is the container for the list of category -->
												<div id="categoryBody" class="scroll"></div>

											</div>
											<div class="form-group">
												<hr>
											</div>
											<button type="button" class="btn btn-primary ml-2 "
												onclick="createCategoryControl(true, this)">Create New Category</button>
											<div id="category_control" class="">
												<div class="form-group">
													<label for="">Create New Category</label>
													<input type="text" id="newCategory" name="name"
														class="form-control list-group-item" placeholder="Add Category">
												</div>
												<div class="form-group">
													<input type="hidden" id="inputParentId" name="parent" value="">
													<label for="">Choose a parent category from the list
														above</label>
													<input type="text" id="inputParentName"
														class="form-control list-group-item"
														placeholder="Add Parent (only if it is a subcategory)"
														onclick="modal({type: 'info', message: 'Use the <strong>Category</strong> list above to select the parent.', title: 'Select a Parent'})"
														value="" readonly />
												</div>
												<button type="button" class="btn btn-primary ml-2 "
													onclick="createNewCategory()">Create New
													Category</button>
												<a href="#x" class="btn btn-light"
													onclick="createCategoryControl(false)">Cancel</a>
											</div>
										</div>
									</div>
								</div>
								<!--  -->
								<div class="col-md-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<button type="button" class="btn btn-primary btn-rounded btn-icon"
												onclick="refresh()">
												<i class="ti-reload"></i>
											</button>
											<div class="image-gallery d-flex align-items-center">
												<% product.img.forEach((img, index)=> { %>
													<div class="img-content">
														<button type="button"
															class="delete-btn btn btn-danger btn-rounded btn-icon"
															onclick="removeImage(this, '<%= index %>')">
															<i class="ti-trash"></i>
														</button>
														<img src="/<%= img.path %>" alt="<%= img.filename %>"
															width="100%" height="auto">
													</div>
													<% }); %>
											</div>
										</div>
									</div>
								</div>
							</form>

						</div>
						<!-- content-wrapper ends -->
						<%- include("components/_footer") %>
							<%- include("utils/messageBird") %>
					</div>
					<!-- main-panel ends -->
			</div>

			<!-- page-body-wrapper ends -->
	</div>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/aronoz/js/axios.js"></script>

	<%- include("components/_scripts") %>
		<script src="/admin/js/category.js"></script>
		<script src="/admin/js/editProduct.js"></script>