<%- include("components/_head") %>
<!-- to send product category to script -->
<input type="hidden" id="productCategory" value="<%= product.categories %>">

<div class="container-scroller">
	<!-- nav -->
	<%- include("components/_header") %>
	<%- include("utils/modal") %>

	<div class="container-fluid page-body-wrapper">

		<!-- sidebar -->
		<%- include("components/_sidebar") %>

		<!-- partial main-->
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-md-12 grid-margin">
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<h4 class="font-weight-bold mb-0"><img class="rounded-circle"
										src="/<%= product.img.length ? product.img[0].path : " ../aronoz/img/favicon.png" %>"
										alt="<%= product.img.length && product.img[0].fileName %>" width="50vw"
										height="50vw">
									Edit Product: <%= product.name %>

								</h4>

							</div>
							<div>
								<a href="/admin/products" class="btn btn-primary btn-icon-text btn-rounded">
									<i class="ti-arrow-left btn-icon-prepend"></i>Back
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- row -->
				<form class="row forms-sample" action="/admin/edit/<%= product._id %>" method="POST"
					enctype="multipart/form-data">
					<div class="col-md-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Naming</h4>
								<p class="card-description">
									Give your product a nameing
								</p>
								<!--  -->
								<div class="form-group">
									<label for="">Product Name</label>
									<input type="text" name="name" class="form-control" placeholder="Product Name"
										value="<%= product.name %>" required>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="form-group w-75">
										<label for="">Category</label>
										<input type="text" list="categoryList" id="formCategoryName"
											class="form-control" placeholder="Category">
										<datalist id="categoryList"></datalist>
									</div>
									<button type="button" id="addCategory" class="btn btn-primary rounded"><i
											class="ti-plus"></i></button>
								</div>

								<div id="seletedCategory"></div>
								<!--  -->
							</div>
						</div>
					</div>
					<div class="col-md-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Pricing</h4>
								<p class="card-description">
									Set a value and quantity for your product
								</p>
								<!--  -->
								<div class="form-group">
									<label for="">Price</label>
									<input type="text" name="price" class="form-control" placeholder="Price"
										value="<%= product.price %>" required>
								</div>
								<div class="form-group">
									<label for="">Total Avalable Products</label>
									<input type="number" name="totalNo" class="form-control" placeholder="Total Product"
										value="<%= product.totalNo %>" required>
								</div>

								<!--  -->
							</div>
						</div>
					</div>
					<div class="col-md-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Description</h4>
								<p class="card-description">
									Describe your product here
								</p>
								<!--  -->

								<div class="form-group">
									<label for="exampleTextarea1">Description</label>
									<textarea name="description" class="form-control" id="exampleTextarea1"
									placeholder="<%= product.description %>" rows="7"><%= product.description%></textarea>
								</div>
								<!--  -->
								<button type="submit" onsubmit="disable()" class="btn btn-primary mr-2">Submit</button>
								<a href="/admin/products" class="btn btn-light">Cancel</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Uploads</h4>
								<div class="form-group">
									<label>Choose one or more images for your product</label>
									<div class="input-group col-xs-12">
										<input class="form-control" id="imagess" multiple="multiple" accept="image/*"
											name="image" type="file" placeholder="Product image">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--  -->
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<button type="button" class="btn btn-primary btn-rounded btn-icon" onclick="refresh()">
									<i class="ti-reload"></i>
								</button>
								<div class="image-gallery d-flex align-items-center">
									<% product.img.forEach(img => { %>
										<% const imgPath = img.path %> 
										<div class="img-content">
											<button type="button" class="delete-btn btn btn-danger btn-rounded btn-icon"
											onclick="removeImage('<%= product._id %>', '<%= imgPath.replace(/uploads/, `uploads/`) %>')">
											<i class="ti-trash"></i>
										</button>
										<img src="/<%= img.path %>"
											style="height: 15em;object-fit: cover;object-position: top;"
											alt="<%= img.filename %>" width="100%" height="auto">
									</div>
									<% }); %>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
			<!-- content-wrapper ends -->
			<%- include("components/_footer") %>
			<%- include("utils/messageBird") %>
		</div>
		<!-- main-panel ends -->
	</div>

	<!-- page-body-wrapper ends -->
</div>

<%- include("components/_scripts") %>
<script src="/admin/js/getCategories.js"></script>
<script src="/admin/js/editProduct.js"></script>
<script src="/admin/js/updateProduct.js"></script>