<%- include("components/_head") %>


	<div class="container-scroller">
		<!-- nav -->
		<%- include("components/_header") %>

			<div class="container-fluid page-body-wrapper">
				
				<!-- sidebar -->
				<%- include("components/_sidebar") %>

					<!-- partial main-->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">User Orders</h4>
										</div>
										<div>
											<button type="button" class="btn btn-primary btn-icon-text btn-rounded">
												<i class="ti-clipboard btn-icon-prepend"></i>Report
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Sales</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">34040</h3>
												<i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
											<p class="mb-0 mt-2 text-danger">0.12% <span
													class="text-black ml-1"><small>(30
														days)</small></span></p>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Revenue</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">47033</h3>
												<i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
											<p class="mb-0 mt-2 text-danger">0.47% <span
													class="text-black ml-1"><small>(30
														days)</small></span></p>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Downloads</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">40016</h3>
												<i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
											<p class="mb-0 mt-2 text-success">64.00%<span
													class="text-black ml-1"><small>(30
														days)</small></span></p>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Returns</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">61344</h3>
												<i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
											<p class="mb-0 mt-2 text-success">23.00%<span
													class="text-black ml-1"><small>(30
														days)</small></span></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<div class="d-flex flex-row justify-content-between">
												<p class="card-title mb-0">Recent Orders</p>
												<button type="button" class="btn btn-sm btn-outline-dark btn-icon-text">
													<i class="ti-filter btn-icon-prepend"></i>
													Filter Orders
												  </button>
											</div>
											<div class="table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>User</th>
															<th>Product</th>
															<th>Cost</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody>
														<% orders.forEach(order => { %>
															<tr onclick="btnLink('/admin/orderdetails?q=<%= Math.floor(Math.random() * 99999999) %>&ci=<%= order._id %>&public=true', '<%= order._id %>')">
																<td><%= order.user.firstname %></td>
																<td><%= order.cart.item.map(item => item.product.name) %></td>
																<td class="">$<%= order.total %></td>
																<td><label class="badge badge-danger">Pending</label></td>
															</tr>
														<% }); %> 
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
						<%- include("components/_footer") %>
					</div>
					<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>

	<%- include("components/_scripts") %>