<%- include("components/_head") %>
<%- include("utils/preloader") %>
<%- include("utils/searchModel") %>
<%- include("components/_navbar") %>

<%# declear a counter variable to use in displaying all products %>
<% let counter = 0; %>
<%# this is the number of times a loop is allowed to run %>
<% let loopCounter = 4; %>
<%# this is used to count the loop %>
<% let loopIndex = 0; %>

<!-- Page Add Section Begin -->
<section class="page-add">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="page-breadcrumb">
					<h2>Tiers<span>.</span></h2>
					<a href="/store">Home</a>
					<a href="/store/categories">Categories</a>
				</div>
			</div>
			<div class="col-lg-8">
				<img src="img/ads.jpg" alt="ads" style="height: 8em; width: 100%; object-fit: cover; object-position: top;">
			</div>
		</div>
	</div>
</section>
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
	<div class="container">
		<div class="categories-controls">
			<div class="row">
				<div class="col-lg-12">
					<div class="categories-filter">
						<div class="cf-left">
							<!-- <form action="#">
								<select class="sort">
									<option value="">Sort by</option>
									<option value="">Orders</option>
									<option value="">Newest</option>
									<option value="">Price</option>
								</select>
							</form> -->
						</div>
						<div class="cf-right">
							<!-- <span><%= products.length %> Products</span>
							<a href="#x">2</a>
							<a href="#x" class="active">4</a>
							<a href="#x">6</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<% if(products.length){ %>
		<% do{ %>
		<div class="row product-row">
			<div class="col-lg-6 col-md-6">
				<div class="single-product-item">
					<figure style="cursor: pointer" onclick="linkBtn('/store/categories/<%= products[counter].name %>?q=<%= products[counter].id %>')">
							<img src="/<%= products[counter].img[0].path %>" alt="<%= products[counter].name %>">
						<div class="p-status">new</div>
					</figure>
					<div class="product-text">
						<a onclick="linkBtn('/store/categories/<%= products[counter].name %>?q=<%= products[counter].id %>')">
							<h6><%= products[counter].name %></h6>
						</a>
						<p>$<%= products[counter].price %></p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<% for (counter = counter + 1, loopIndex = 0; counter < products.length; counter++) { %>
					<% const product = products[counter]; %>

					<% loopIndex++; %>
					<% if(loopIndex > loopCounter) break; %>
					<div class="col-lg-6 col-md-6">
						<div class="single-product-item">
							<figure style="cursor: pointer" onclick="linkBtn('/store/categories/<%= product.name %>?q=<%= product.id %>')">
									<img src="/<%= product.img[0].path %>" alt="<%= product.name %>">
								<div class="p-status">new</div>
							</figure>
							<div class="product-text">
								<a onclick="linkBtn('/store/categories/<%= product.name %>?q=<%= product.id %>')">
									<h6><%= product.name %></h6>
								</a>
								<p>$<%= product.price %></p>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
			<% for (counter, loopIndex = 0; counter < products.length; counter++) { %>
			<% const product = products[counter]; %>

			<% loopIndex++; %>
			<% if(loopIndex > loopCounter) break; %>
			<div class="col-lg-3 col-md-6">
				<div class="single-product-item">
					<figure style="cursor: pointer" onclick="linkBtn('/store/categories/<%= product.name %>?q=<%= product.id %>')">
							<img src="/<%= product.img[0].path %>" alt="<%= product.name %>">
						<div class="p-status">new</div>
					</figure>
					<div class="product-text">
						<a onclick="linkBtn('/store/categories/<%= product.name %>?q=<%= product.id %>')">
							<h6><%= product.name %></h6>
						</a>
						<p>$<%= product.price %></p>
					</div>
				</div>
			</div>
			<% } %>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<% for (counter, loopIndex = 0; counter < products.length; counter++) { %>
					<% const product = products[counter]; %>

					<% loopIndex++; %>
					<% if(loopIndex > loopCounter) break; %>
					<div class="col-lg-6 col-md-6">
						<div class="single-product-item">
							<figure style="cursor: pointer" onclick="linkBtn('/store/categories/<%= product.name %>?q=<%= product.id %>')">
									<img src="/<%= product.img[0].path %>" alt="<%= product.name %>">
								<div class="p-status">new</div>
							</figure>
							<div class="product-text">
								<a onclick="linkBtn('/store/categories/<%= product.name %>?q=<%= product.id %>')">
									<h6><%= product.name %></h6>
								</a>
								<p>$<%= product.price %></p>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
			<% if(counter < products.length){ %>
			<div class="col-lg-6 col-md-6">
				<div class="single-product-item">
					<figure style="cursor: pointer" onclick="linkBtn('/store/categories/<%= products[counter].name %>?q=<%= products[counter].id %>')">
							<img src="/<%= products[counter].img[0].path %>" alt="<%= products[counter].name %>">
						<div class="p-status">new</div>
					</figure>
					<div class="product-text">
						<a onclick="linkBtn('/store/categories/<%= products[counter].name %>?q=<%= products[counter].id %>')">
							<h6><%= products[counter].name %></h6>
						</a>
						<p>$<%= products[counter].price %></p>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<% }while(counter < products.length) %>
		<div class="more-product">
			<div class="row">
				<div class="col-lg-12 text-center">
					<button type="button" class="btn primary-btn load-more">Load More</button>
				</div>
			</div>
		</div>
		<% }else{ %>
			<div class="">
				<h4>No products yet.</h4>
			</div> 
			<% } %> 
	</div>
</section>
<!-- Categories Page Section End -->
<%- include("components/_footer") %>
<%- include("components/_script") %>

<script>
	const productRow = document.getElementsByClassName("product-row");
	const loadMore = document.getElementsByClassName("load-more")[0];
	let currentProduct = 0;

	function hideAllProducts() {
		for (let i = 0; i < productRow.length; i++) {
			const row = productRow[i];
			$(row).hide();
		}
	}

	function showCurrent(current) {
		$(productRow[current]).fadeIn(1000);
	}

	function hideProduct(previous) {
		$(productRow[previous - 1]).fadeOut(4000);
	}
	// first hide all product row
	hideAllProducts();

	// show only first product row
	showCurrent(currentProduct);


	loadMore.addEventListener("click", (e) => {
		// hideProduct(currentProduct);
		++currentProduct;

		showCurrent(currentProduct);
		if (currentProduct >= productRow.length - 1) {
			return $(e.target.parentElement.parentElement.parentElement).fadeOut();
		};
	});
</script>

</body>

</html>