<%- include("components/_head") %>
<%- include("utils/preloader") %>
<%- include("utils/searchModel") %>
<%- include("components/_navbar") %>
<%- include("utils/carousel") %>
<!-- Features Section Begin -->
<section class="features-section spad">
	<div class="features-ads">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-features-ads first">
						<img src="/store/img/icons/f-delivery.png" alt="">
						<h4>Shipping</h4>
						<p>Your product would be delivered to you in less than 24hours</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-features-ads second">
						<img src="/store/img/icons/coin.png" alt="">
						<h4>Pay with cash or Online</h4>
						<p>Experience the best of shoppin and pay with whice ever method sutes you.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-features-ads">
						<img src="/store/img/icons/chat.png" alt="">
						<h4>Online support 24/7</h4>
						<p>Our services are avaliable 24/7. Don't get worried about the time to shop for some quality tires.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Features Box -->
	<div class="features-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12">
							<div class="single-box-item first-box">
								<img style="transform: rotateY(180deg);" src="/store/img/f-box-1.jpg" alt="">
								<div class="box-text make-box-text-smaller">
									<span class="trend-year">2022 Best</span>
									<h2>Model</h2>
									<span class="trend-alert">Get All Here</span>
									<a href="/store/categories" class="primary-btn">See More</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-box-item second-box">
								<img src="/store/img/f-box-2.jpg" alt="">
								<div class="box-text">
									<span class="trend-year">2022 Latest</span>
									<h2>Brands</h2>
									<span class="trend-alert">Bold & Black</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 position-relative overflow-hidden">
					<div class="tire-circle"></div>
					<div class="single-box-item large-box">
						<img class="swing" src="/store/img/f-box-3.jpg" alt="">
						<div class="box-text">
							<span class="trend-year">Browse all</span>
							<h2>Collection</h2>
							<div class="trend-alert text-dark">Trend Allert</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features Section End -->

<!-- Latest Product Begin -->
<section class="latest-products spad">
	<div class="container">
		<div class="product-filter">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Latest Products</h2>
					</div>
					<ul class="product-controls">
						<li data-filter="*">All</li>
						<% categories.forEach(category => { %>
						<%# if the category product is less than 2 do not show %>
						<% if(category.products.length < 2) return; %>
						<li style="text-transform: capitalize;" data-filter="<%= "." + category.name.toLowerCase() %>">
							<%= category.name %></li>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
		<div class="row" id="product-list">
			<% products.forEach((product, index) => { %>
			<div
				class="col-lg-3 col-sm-6 mix all <%= (product.categories.map(category => category.name)).toString().replace(/,/g, " ") %>">
				<% if(index > 3) return; %>
				<div class="single-product-item">
					<figure>
						<a href="/store/categories/<%= product.name %>?q=<%= product._id %> "><img
								src="/<%= product.img[0].path %>" alt="<%= product.name %>"></a>
						<div class="p-status">new</div>
					</figure>
					<div class="product-text">
						<h6><%= product.name %></h6>
						<p>$<%= product.price %></p>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>
<!-- Latest Product End -->

<%- include("utils/lookbokSection") %>
<%- include("utils/logoSection") %>



<%- include("components/_footer") %>
<%- include("components/_script") %>


</body>

</html>