<%- include("components/_head") %>
<%- include("utils/preloader") %>
<%- include("utils/searchModel") %>
<%- include("components/_navbar") %>
<%- include("utils/carousel") %>
<!-- Features Section Begin -->
<section class="features-section spad">
	<div class="features-ads">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-features-ads first">
						<img src="/store/img/icons/f-delivery.png" alt="">
						<h4>Exporting</h4>
						<p>We export our tires world wide, giving you what you need</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-features-ads second">
						<img src="/store/img/icons/coin.png" alt="">
						<h4>Affordable</h4>
						<p>Check out our affordable products and give us a call</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-features-ads">
						<img src="/store/img/icons/chat.png" alt="">
						<h4>Always avaliable</h4>
						<p>We are always open to read your message, drop a request and we would answer.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Features Box -->
	<div class="features-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12">
							<div class="single-box-item first-box">
								<img style="transform: rotateY(180deg);" src="/store/img/f-box-1.jpg" alt="">
								<div class="box-text make-box-text-smaller">
									<span class="trend-year">Our Latest</span>
									<h2>Model</h2>
									<span class="trend-alert">Get All Here</span>
									<a href="/store/categories" class="primary-btn text-light">See More</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-box-item second-box">
								<img src="/store/img/f-box-2.jpg" alt="">
								<div class="box-text">
									<span class="trend-year">Selling</span>
									<h2 class="d-md-none" style="font-size: calc(16px + .5em)">Affordable</h2>
									<h2 class="d-none d-md-block" style="font-size: calc(16px + 1.8em)">Affordable</h2>
									<span class="trend-alert">Used Tires</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 position-relative d-none d-lg-block">
					<div class="single-box-item large-box h-100">
						<!-- <div class="tire-circle"></div> -->
						<img class="position-absolute" src="/store/img/f-box-3.jpg" alt="y">
						<div class="box-text">
							<span class="trend-year">Browse all</span>
							<h2>Products</h2>
							<div class="trend-alert text-dark">and More</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features Section End -->

<!-- Latest Product Begin -->
<section class="latest-products spad">
	<div class="container">
		<div class="product-filter">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Latest Products</h2>
					</div>
					<ul class="product-controls">
						
						<li data-filter="*">All</li>
						<% products.forEach(category => { %>
						<li style="text-transform: capitalize;"
							data-filter="<%# "." + category.toString().toLowerCase() %>">
							<%# category %>
						</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
		<div class="row" id="product-list">
			<% products.forEach((product, index) => { %>
			<div class="col-lg-3 col-sm-6 mix all <%= (product.categories.map(category => category)).join(' ') %>">
				<% if(index > 3) return; %>
				<div class="single-product-item">
					<figure>
						<a href="/store/categories/<%= product.name %>?q=<%= product._id %>">
							<img src="/home/images/products/tireImg<%= index + 1 %>.jpg" style="height: 12em;object-fit: cover;" alt="<%= product.name %>">
						</a>
						<div class="p-status">new</div>
					</figure>
					<div class="product-text">
						<h6><%= product.name %></h6>
						<p>$<%= product.price %></p>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>
<!-- Latest Product End -->

<%- include("utils/lookbokSection") %>
<%# include("utils/logoSection") %>



<%- include("components/_footer") %>
<%- include("components/_script") %>


</body>

</html>