<%- include("components/_head") %>
<%- include("utils/preloader") %>
<%- include("utils/searchModel") %>
<%- include("components/_navbar") %>

<!-- Page Add Section Begin -->
<section class="page-add">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="page-breadcrumb">
					<h2><%= product.name %><span>.</span></h2>
					<a href="#">Home</a>
					<a href="#">Categories</a>
					<a class="active" href="#"><%= product.name %></a>
				</div>
			</div>
			<div class="col-lg-8">
				<img src="/store/img/add.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
	<div class="container">
		<div class="product-control">
			<a href="#">Previous</a>
			<a href="#">Next</a>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="product-slider owl-carousel">
					<% product.img.forEach(img => { %>
					<div class="product-img">
						<figure>
							<img src="/<%= img.path %>" alt="<%= product.name %>">
							<div class="p-status">new</div>
						</figure>
					</div>
					<% }); %>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="product-content">
					<h2><%= product.name %></h2>
					<div class="pc-meta">
						<h5>$<%= product.price %></h5>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
					<p><%= product.description %></p>
					<ul class="tags">
						<li><span>Category :</span>
							<% product.categories.map(category => { %>
							<a class="text-dark"
								href="/store/categories?q=<%= category.name %>"><%= category.name %></a>
							<% }) %>
						</li>
						<!-- <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li> -->
					</ul>
					<div class="product-quantity">
						<div class="pro-qty">
							<input type="text" value="1">
						</div>
					</div>
					<a href="#" class="primary-btn pc-btn">Add to cart</a>
					<ul class="p-info">
						<li>Product Information</li>
						<li>Reviews</li>
						<li>Product Care</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
<section class="related-product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Related Products</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<% products.forEach((product, index) => { %>
			<div class="col-lg-3 col-sm-6">
				<% if(index > 3) return; %>
				<div class="single-product-item">
					<figure>
						<a href="/store/categories/<%= product.name %>?q=<%= product._id %> "><img
								src="/<%= product.img[0].path %>" alt="<%= product.name %>"></a>
						<div class="p-status">new</div>
					</figure>
					<div class="product-text">
						<h6><%= product.name %></h6>
						<p>$<%= product.price %></p>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>
<!-- Related Product Section End -->
<!-- Categories Page Section End -->
<%- include("components/_footer") %>
<%- include("components/_script") %>


</body>

</html>