<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= head.description %>">
	<meta name="keywords"
		content="car tire, car tires, car, used car tires, cheep tires, affordable tires, buy tires, Tires, tire, buy tire, import tire, export tire, export, import, sell, used tire, used tires, go int, go int reifen, int reifen, reifen, go reifen">
	<!-- og -->
	<meta property="og:title" content="<%= head.ogTitle %>" />
	<meta property="og:url" content="<%= head.ogUrl %>" />
	<meta property="og:description" content="<%= head.description %>" />
	<meta property="og:type" content="website" />
	<meta property="og:image" itemprop="image"
		content="<%= head.ogImage || "/home/img/background/bg-sm-house1.jpg" %>" />
	<meta property="og:image:type" content="<%= head.ogImageType || "image/jpeg" %>">
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="300" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:locale:alternate" content="en_US" />
	<meta property="og:locale:alternate" content="en_US" />
	<meta name="msapplication-TileColor" content="<%= head.themeColor || "#ffffff" %>">
	<meta name="msapplication-TileImage" content="/home/img/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="<%= head.themeColor || "#ffffff" %>">
	<title><%= head.title %></title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="/store/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/store/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/store/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/store/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/store/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="/store/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/store/css/style.css" type="text/css">
</head>

<body>
	<link itemprop="thumbnailUrl" href="<%= head.ogImage %>">
	<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
		<link itemprop="url" href="<%= head.ogImage %>">
	</span>