<%- include("components/_head") %>
<%- include("components/_navbar") %>

<!-- Header -->
<header class="ex-header bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<h1>
					<%= page.header %>
				</h1>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5 form-1">
	<img class="decoration-star" style="left: -226px;width: 400px;top: 0px;" src="/home/images/decoration-star.svg"
		alt="alternative">
	<img class="decoration-star-2" style="right: -226px;width: 400px;top: 0px;" src="/home/images/decoration-star.svg"
		alt="alternative">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 d-flex justify-content-center align-items-center">
				<img class="img-fluid rounded-3 mt-5 mb-3" src="/home/images/vector/about.png" alt="alternative">
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->

<!-- Basic -->
<div class="ex-basic-1 pt-4">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<p>
					<%= page.body[0] %>
				</p>
				<p class="mb-5">
					<%= page.body[1] %>
				</p>

				<!-- end of cards -->
				<h2 class="mb-3">
					<%= page.whyUs.title %>
				</h2>
				<p>
					<%= page.whyUs.body[0] %>
				</p>
				<p class="mb-4">
					<%= page.whyUs.body[1] %>
				</p>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->

<!-- Services -->
<div id="services" class="cards-1 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="text-container">
					<h2>
						<%= page.services.title %>
					</h2>
					<p>
						<%= page.services.text %>
					</p>
				</div> <!-- end of text-container -->
			</div> <!-- end of col -->
			<div class="col-md-7">
				<div class="card-container grid-lg-3x grid-2x">

					<!-- Card -->
					<div class="card">
						<div class="card-icon">
							<span class="far fa-arrow-alt-circle-down"></span>
						</div>
						<div class="card-body">
							<h5 class="card-title"><%= page.services.body[0] %></h5>
						</div>
					</div>
					<!-- end of card -->

					<!-- Card -->
					<div class="card">
						<div class="card-icon">
							<span class="far fa-registered"></span>
						</div>
						<div class="card-body">
							<h5 class="card-title"><%= page.services.body[1] %></h5>
						</div>
					</div>
					<!-- end of card -->

					<!-- Card -->
					<div class="card">
						<div class="card-icon">
							<span class="far fa-arrow-alt-circle-up"></span>
						</div>
						<div class="card-body">
							<h5 class="card-title"><%= page.services.body[2] %></h5>
						</div>
					</div>
					<!-- end of card -->
				</div> <!-- end of container -->
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->

<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<h2 class="mb-4">
					<%= page.talk.title %>
				</h2>
				<div class="d-flex justify-content-center">
					<img class="img-fluid mb-5" src="/home/images/vector/support.png" alt="alternative">
				</div>
				<p>
					<%= page.talk.text %>
				</p>
				<div class="text-box mb-5">
					<h3>
						<%= page.talk.fact.title %>
					</h3>
					<p>
						<%= page.talk.fact.text %>
					</p>
				</div> <!-- end of text-box -->
				<p class="mb-4">
					<%= page.endNote %>
				</p>
				<a class="btn-solid-reg mb-5" href="/#contact">Contact us</a>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->


<%- include("components/_footer") %>
<%- include("components/_scripts") %>
</body>

</html>