<%- include("components/_head") %>
	<%- include("components/_navbar") %>

		<!-- Header -->
		<header class="ex-header bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xl-10 offset-xl-1">
						<h1>
							<%= page.aboutUs_header %>
						</h1>
					</div> <!-- end of col -->
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</header> <!-- end of ex-header -->
		<!-- end of header -->


		<!-- Basic -->
		<div class="ex-basic-1 pt-5 pb-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<img class="img-fluid mt-5 mb-3" src="/home/images/article-details-large.jpg" alt="alternative">
					</div> <!-- end of col -->
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of ex-basic-1 -->
		<!-- end of basic -->

		<!-- Basic -->
		<div class="ex-basic-1 pt-4">
			<div class="container">
				<div class="row">
					<div class="col-xl-10 offset-xl-1">
						<p>
							<%= page.aboutUs_body[0] %>
						</p>
						<p class="mb-5">
							<%= page.aboutUs_body[1] %>
						</p>

						<!-- Cards -->
						<div class="ex-cards-1 pt-3 pb-3">
							<div class="">
								<div class="row">
									<div class="col-lg-12">
										<!-- Card -->
										<div class="card">
											<ul class="list-unstyled">
												<li class="d-flex">
													<span class="fa-stack">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fa-stack-1x"></span>
													</span>
													<div class="flex-grow-1">
														<h5><%= page.services_home_body[0] %></h5>
														<p><%= page.aboutUs_body_services[0] %></p>
													</div>
												</li>
											</ul>
										</div> <!-- end of card -->
										<!-- end of card -->

										<!-- Card -->
										<div class="card">
											<ul class="list-unstyled">
												<li class="d-flex">
													<span class="fa-stack">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fa-stack-1x"></span>
													</span>
													<div class="flex-grow-1">
														<h5><%= page.services_home_body[1] %></h5>
														<p><%= page.aboutUs_body_services[1] %></p>
													</div>
												</li>
											</ul>
										</div> <!-- end of card -->
										<!-- end of card -->

									</div> <!-- end of col -->
								</div> <!-- end of row -->
							</div> <!-- end of container -->
						</div> <!-- end of ex-cards-1 -->

						<!-- Cards -->
						<div class="ex-cards-1 pt-3 pb-3">
							<div class="">
								<div class="row">
									<div class="col-lg-12">
										<!-- Card -->
										<div class="card">
											<ul class="list-unstyled">
												<li class="d-flex">
													<span class="fa-stack">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fa-stack-1x"></span>
													</span>
													<div class="flex-grow-1">
														<h5><%= page.services_home_body[2] %></h5>
														<p><%= page.aboutUs_body_services[2] %></p>
													</div>
												</li>
											</ul>
										</div> <!-- end of card -->
										<!-- end of card -->

										<!-- Card -->
										<div class="card">
											<ul class="list-unstyled">
												<li class="d-flex">
													<span class="fa-stack">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fa-stack-1x"></span>
													</span>
													<div class="flex-grow-1">
														<h5><%= page.services_home_body[3] %></h5>
														<p><%= page.aboutUs_body_services[3] %></p>
													</div>
												</li>
											</ul>
										</div> <!-- end of card -->
										<!-- end of card -->

									</div> <!-- end of col -->
								</div> <!-- end of row -->
							</div> <!-- end of container -->
						</div> <!-- end of ex-cards-1 -->

						<!-- Cards -->
						<div class="ex-cards-1 pt-3 pb-3">
							<div class="">
								<div class="row">
									<div class="col-lg-12">
										<!-- Card -->
										<div class="card">
											<ul class="list-unstyled">
												<li class="d-flex">
													<span class="fa-stack">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fa-stack-1x"></span>
													</span>
													<div class="flex-grow-1">
														<h5><%= page.services_home_body[4] %></h5>
														<p><%= page.aboutUs_body_services[4] %></p>
													</div>
												</li>
											</ul>
										</div> <!-- end of card -->
										<!-- end of card -->

										<!-- Card -->
										<div class="card">
											<ul class="list-unstyled">
												<li class="d-flex">
													<span class="fa-stack">
														<span class="fas fa-circle fa-stack-2x"></span>
														<span class="fa-stack-1x"></span>
													</span>
													<div class="flex-grow-1">
														<h5><%= page.services_home_body[5] %></h5>
														<p><%= page.aboutUs_body_services[5] %></p>
													</div>
												</li>
											</ul>
										</div> <!-- end of card -->
										<!-- end of card -->
									</div> <!-- end of col -->
								</div> <!-- end of row -->
							</div> <!-- end of container -->
						</div> <!-- end of ex-cards-1 -->

						<!-- end of cards -->
						<h2 class="mb-3">
							<%= page.aboutUs_whyUs_title %>
						</h2>
						<p>
							<%= page.aboutUs_whyUs_body[0] %>
						</p>
						<p class="mb-4">
							<%= page.aboutUs_whyUs_body[1] %>
						</p>
					</div> <!-- end of col -->
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of ex-basic-1 -->
		<!-- end of basic -->


		<!-- Basic -->
		<div class="ex-basic-1 pt-3 pb-5">
			<div class="container">
				<div class="row">
					<div class="col-xl-10 offset-xl-1">
						<h2 class="mb-4">
							<%= page.serviecs_region_title %>
						</h2>
						<img class="img-fluid mb-5" src="/home/images/article-details-small.jpg" alt="alternative">
						<p>
							<%= page.aboutUs_region_text %>
						</p>
						<div class="text-box mb-5">
							<h3>
								<%= page.aboutUs_region_note_title %>
							</h3>
							<p>
								<%= page.aboutUs_region_note_text %>
							</p>
						</div> <!-- end of text-box -->
						<p class="mb-4">
							<%= page.aboutUs_endNote %>
						</p>
						<a class="btn-solid-reg mb-5" href="contact">Contact us</a>
					</div> <!-- end of col -->
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of ex-basic-1 -->
		<!-- end of basic -->


		<%- include("components/_footer") %>
			<%- include("components/_scripts") %>
				</body>
				</html>