<%- include("components/_head") %>
<%- include("components/_navbar") %>

<!-- Header -->
<header class="ex-header bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<h1>
					<%= page.header %>
				</h1>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Projects -->
<div id="projects" class="cards-2 ex-basic-1 pt-5 pb-5 form-1 position-relative">
	<img class="decoration-star position-absolute" style="left: -226px;width: 400px;top: 0px;"
		src="/home/images/decoration-star.svg" alt="alternative">
	<img class="decoration-star-2 position-absolute" style="right: -226px;width: 400px;top: 0px;"
		src="/home/images/decoration-star.svg" alt="alternative">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="h2-heading">Used Tires for Sale</h2>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
		<div class="row">
			<div class="gallery col-lg-12 grid-3x">
				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg1.jpg" alt="alternative">

				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg2.jpg" alt="alternative">

				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg3.jpg" alt="alternative">

				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg4.jpg" alt="alternative">

				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg5.jpg" alt="alternative">

				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg6.jpg" alt="alternative">

				<img class="img-fluid w-100 mb-0 details-img" src="/home/images/products/tireImg7.jpg" alt="alternative">

			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of projects -->

<%- include("components/_contact") %>

<%- include("components/_footer") %>
<%- include("components/_scripts") %>
</body>

</html>